#Stage{
    -fx-background-image: url("/images/background.jpg");
    -fx-background-position: center center;
}

#SceneGame{
    -fx-background-image: url("/images/SceneMainMenu.png");
    -fx-background-position: center center;
}

#SceneCredits{
    -fx-background-image: url("/images/SceneCredits.jpg");
    -fx-background-position: center center;
}

#SceneUsername{
    -fx-background-image: url("/images/SceneUsername.png");
    -fx-background-position: center center;
}

#SceneShipSelection{
    -fx-background-image: url("/images/SceneShipSelection.png");
    -fx-background-position: center center;
}

#SceneGameplay{
    -fx-background-image: url("/images/SceneGameplay.png");
    -fx-background-position: center center;
}